.produits {
  margin: 30px 0;
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.produit {
  width: 380px;
  text-align: center;
  margin: 20px 0;
  p {
    margin: 5px auto 10px auto;
    font-style: italic;
  }
}

.description_produit {
  color: var(--gray-1);
  margin-top: 15px;
}

.item_saved {
  color: rgb(194 157 101);
}

.visible {
  display: block;
  transform: scale(1);
  opacity: 1;
  animation: anim 0.6s ease-in-out;
}
